body,
ul {
  margin: 0px;
  padding: 0px;
}

 a {
  color: black;
  text-decoration: none;

}

#menu ul li a:hover {
  background: rgba(194, 0, 0, 0.05);
}

#logo {
  font-size: 1.5rem;
  font-weight: bold;
}

#header {
  box-sizing: border-box;
  height: 70px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #e7e7e7;
;
}


#menu {
  display: flex;
  list-style: none;
  gap: 0.5rem;

}

#menu a {
  display: block;
  padding: 0.5rem;
}

#btn-mobile {
  display: none;
}

@media (max-width: 600px) {
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background: #e7e7e7;
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }

  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }

  .leaflet-bar {
    /*Display none para as opções de zoom nao ficarem sobrepondo o menu bar*/
    display: none;
  }

  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  }

  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }

  #hamburger {
    border-top: 2px solid;
    width: 20px;
  }

  #hamburger::after,
  #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }

  #nav.active #hamburger {
    border-top-color: transparent;
  }

  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }

  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }



}

* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
  height: 378px;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 5%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: rgb(0, 155, 26);
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;


}



/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

#mapacss {
  text-align: center;
  font-size: arial;
  color: #03A202;
}

#titulocarrosel {
  text-align: center;
}

#MAPA {
  text-align: center;
}

body {
  background-color: #F1F0F6;
}

#map {
  position: relative;
  height: 500px;
  width: 50%;
  right: -370px;
}

#paragrafo1 {

  font-size: 15px;
  text-align: center;
  width: 45%;
  text-align: start;

  margin: auto;
  border-radius: 4px;
  background-color: #9de5a0;
}

#botaologin {
  position: relative;
  left: 1120px;
  top: 29px;
  cursor: pointer;
  background-color: #F1F0F6;
  border: none;
  color: rgb(0, 0, 0);
  padding: 9px 15px;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;


}

#botaocadastro {

  position: relative;
  left: 1110px;
  top: 29px;
  cursor: pointer;

  background-color: #F1F0F6;
  border: none;
  color: rgb(0, 0, 0);
  padding: 9px 15px;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;


}


.button {

  display: inline-block;
  padding: 10px 25px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #03A303;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;

  font-weight: bold;
  box-shadow: 0px 0px 5px rgb(116, 153, 85);
}

.button:hover {
  background-color: #3e8e41;
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#botaogrande {


  position: relative;
  text-align: center;
}

#senha {
  position: relative;
  top: 10px;
}

.titulodocarosel {
  position: relative;
  top: -40px;

}

 




.text {
  color: black;
  font-size: 15px;
  bottom: 8px;
  text-align: start;
  align-items: flex-end;
  position: relative;
  left: 530px;
  top: -150px;
  width: 300px;

  font-size: 15px;


}

.text2 {
  color: black;
  font-size: 15px;
  bottom: 8px;
  text-align: start;
  align-items: flex-end;
  position: relative;
  left: 530px;
  top: -190px;
  width: 300px;

  font-size: 15px;


}


.text3 {
  color: black;
  font-size: 15px;
  bottom: 8px;
  text-align: start;
  align-items: flex-end;
  position: relative;
  left: 530px;
  top: -130px;
  width: 300px;

  font-size: 15px;



}

#titulodocarosel2 {
  position: fixed;
  position: relative;
  top: -35px;
}

body strong {
  color: #03A303;


}

#tituloconteudo2, #tituloconteudo {
  color: #575252;
  
  position: relative;

  font-weight: bold;


  text-align: center;

}



#paragrafo1 {
  /*Texto*/

  font-size: 18px;
  
  width: 80%;
  margin: 30px auto;
  padding: 10px;
  border-radius: 10px;
  text-align: left;
  box-shadow: inset 0px 0px 30px #9de59f9d;
  line-height: 1.5em;
}

#paragrafo2 {

  font-size: 18px;
  width: 80%;
  margin: 25px auto 50px auto;
  line-height: 2em;



}

#palmiteira {
  text-align: center;
}


body {
  background-color: #F1F0F6;

}

#rodape {

  width: 100%;


}

#tireassuasduvidas {
  position: relative;

}

#caixadepergunta {
  width: 340px;
  height: 300px;
  margin-bottom: 50px;
}

#btn_form {
  font-size: 12px;
  padding: 8px 15px;
  width: 100px;
  margin: 0px 10px;
}


/*
  position: relative;
  text-align: center;
  display: flex;
  justify-content: space-around;
  left: -1px;


  display: flex;
  justify-content: flex-end;
  top: -5px
  */


#form_pergunta {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

#duvidatitulo {
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: -10px;
  left: -85px;



  /* display flex : ele vai dae objeto movivel  justify-content : flex - end : ira colocar o elemento no canto da página */
}

#paidopai {
  background-color: #0000000a;

}


#cordefundo {
  background-color: #E5E1F4;
  border: none;
}

#imagemiiii {
  position: relative;
  left: -140px;
  top: 8px
}


#titulocarroselk {
  font-size: 15px;
  font-size: 1.1em;
  text-align: center;

}

#imagemdocarrosel1 {
  position: absolute;
  left: 170px;

}


.alinhamento {
  font-size: 17px;
  line-height: 25px;
  margin: 0px 25px;
  text-align: center;

}

#imagemdocarrosel2 {
  position: relative;
  left: 150px;
}

#imagemdocarrosel3 {
  position: relative;
  left: 150px;

}

#imagemdocarrosel1 {
  position: relative;
  left: 150px;


}

#controle

/*USADO PARA EVITAR QUE O MAPA SOBREPONHA TODO O CONTEUDO DA TELA E EVITANDO FICAR PRESO NELE*/
  {
  height: 170px;
  background-color: rgb(192, 192, 192);
  position: relative;
  top: -160px;
  border-radius: 50px 50px 0px 0px;
}

#map {
  position: relative;
  left: 0px;
  width: 425px;

  z-index: 0;
}

#titulomapa {
  text-align: center;

  color: #03A202;

}






hr {
  width: 90%;
}

#icon {
  width: 50px;
}

#rodape ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#rodape ul li {
  margin: 10px;
}

#contato {
  font-size: 17px;
  margin-left: 10px;
  color: #726c6c;
}

#redes_sociais {
  text-align: center;
  color: #726c6c;
}

#icones_sociais {
  margin-bottom: 20px;
}



@media screen and (min-width:1000px)
{
  body
  {
    background-color: white;
  }
  .conteudo_pag-1000
  {
    width: 70%;
    
    /*border: 2px solid black;*/
    background-color: #117614;
    margin: auto;


    /*Bordas das caixas de texto estao em css/bg_img.css*/
  }

  .logotipoNPR 
  {
    position: relative;
  } 


  #map
  {
    margin: auto;
    width: 100%;
    height: 600px;
    background-color: brown;
  } 

  #controle
  {
    display: none;
  }

  #rodape
  {

    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .conteudo_principal_regua
  {
    margin: auto;
    width: 80%;
    background-color: #F1F0F6;
    /*border: 2px solid red;*/

    padding: 10px;
    border-radius: 10px;
    margin-top: 30px;
  }

  .slider
  {
    width: 100%;
    
  }

  #palmiteira img
  {
    width: 400px;
    height: 400px;
  }

  #separacao
  {
    width: 100%;
    height: 50px;
    background-color: white;
    z-index: 0;
    padding-top: 100px;
  }

}

.article
{
  /* background-color: saddlebrown; */

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5px;

  text-align: center;
}

.tituloPrincipal
{
  /* background-color: rgba(255, 0, 0, 0.267); */
  padding: 0px;
  margin: 20px;
  color: #575252;
  font-size: 2.5em;
}

.subtitulo_att
{
  padding: 0px;
  margin: 20px;
  /* background-color: rgba(255, 255, 0, 0.199); */
  font-weight: 500;
  color: #575252;
  font-size: 2em;
}

.paragrafo_att
{
  /* background-color: rgba(0, 0, 255, 0.315); */
  padding: 0px;
  margin: 0px;

  width: 80%;
  text-indent: 1em;
  line-height: 1.7em;
  font-size: 1.1em;
  text-align: justify;
}

.btn_link
{
  /* background-color: rgba(0, 128, 0, 0.349); */
  margin: 20px;

  font-size: 1.4em;
  padding: 10px;
  font-weight: bold;

  border: 1px solid black;
}

.paragrafo_link
{
  /* background-color: pink; */
  color: green;
  font-weight: 500;
  padding: 0px;
}

.paragrafo_link:hover
{
  background-color: rgba(151, 151, 151, 0.014);
  text-decoration: underline;
}

.indice 
{
  margin: 20px 0px;
  background-color: #a0ffa379;
  min-height: 300px;
  border: 2px solid #03A202;
  padding: 10px;
  border-radius: 20px;
  width: 70%;
}

.lista_indice
{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  /* border: 1px solid black; */
  list-style-position: inside;
  flex-direction: column;
  width: 90%;
  margin: auto;

}

.lista_item_indice
{
  /* background-color: rgba(115, 255, 0, 0.938); */
  /* padding: 5px; */
  margin: 10px 0px;
  font-size: 1.1em;
  list-style-type: disclosure-closed;
  font-weight: bold;
}

.lista_item_indice a 
{
  padding: 5px;
  margin: 10px 0px;
  color: #383434;
  text-decoration: none; 
  /* padding: 5px 10px;
  /* background-color: red; */
  transition: 0.5s ease-in-out;
}

.lista_item_indice a:hover
{
 
  text-decoration: underline;
  text-decoration-color: #03A202;
  text-decoration-thickness: 2px; /* Altere o valor da espessura conforme desejado */
  text-underline-offset: 5px; /*Distancia entre a palavra e a linha*/
  background-color: #02a20233;

  
}

.imagem_att
{
  width: 70%;
  margin: 10px 0px;
}

@media screen and (max-width:1000px)
{
  .indice
  {
    width: 100%;
    border-radius: 0px;
  }
}